// Start Footer

footer
  .footer
    .container
      .logo
        img(src="img/logo.png", alt="")
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      ul.social
        li: a(href="") 
          i.fab.fa-envira
        li: a(href="") 
          i.fab.fa-google-plus-g
        li: a(href="") 
          i.fab.fa-behance
        li: a(href="") 
          i.fab.fa-dribbble
        li: a(href="") 
          i.fab.fa-twitter
        li: a(href="") 
          i.fab.fa-facebook-f

// End Footer