script(src="js/jquery-3.4.1.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="https://unpkg.com/swiper/js/swiper.min.js")
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="js/jquery.easypiechart.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.js")
//- My Script
script(src="js/scripts-min.js")